html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  background-color: black;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html, body {
  overflow-x: hidden;
}

